
// Converted Variables


// Custom Media Query Variables


/*

   KITCHENSINK

*/

/* This is for typography relationships Wrap the outer element in aspect-ratio
 * and then extend it with the desired ratio i.e
 * Make sure there are no height and width attributes on the embedded media.
 * Adapted from: https://github.com/suitcss/components-flex-embed
 *
 * Example:
 *
 * <div class="aspect-ratio aspect-ratio--16x9">
 *  <iframe class="aspect-ratio--object"></iframe>
 * </div>
 *
 * */

a {
	color: $blue;
	color: var(--theme-color-base, var(--blue));
}

p,
span,
ul,
ol,
li {
	max-width: 51.6rem;
	word-break: break-word;
	letter-spacing: .005em;
	font: normal 300 1.4rem / 1.428571429 $primary-font;
	margin: 0;
}

span {
	display: inline;
	margin: 0;
}

h1 {
	max-width: 51.6rem;
	letter-spacing: .02em;
	font: normal 500 3.2rem / 1.1875 $primary-font;

	@include breakpoint(tablet) {
		max-width: 84.2rem;
		font: normal 500 4.2rem / 1.142 $primary-font;
	}
}

h2 {
	max-width: 51.6rem;
	letter-spacing: .01em;
	font: normal 500 2rem / 1.3 $primary-font;

	@include breakpoint(tablet) {
		max-width: 84.2rem;
		font: normal 500 2.4rem / 1.333 $primary-font;
	}

	span {
		font: inherit;
	}
}

h3 {
	max-width: 51.6rem;
	letter-spacing: 0;
	font: 500 1.8rem / 1.222 $secondary-font;

	@include breakpoint(tablet) {
		max-width: 84.2rem;
		font: 500 2.4rem / 1.333 $secondary-font;
	}

	strong,
	small {
		font-family: inherit;
	}
}

h4 {
	max-width: 51.6rem;
	letter-spacing: .02em;
	font: normal 500 1.6rem / 1.375 $primary-font;

	@include breakpoint(tablet) {
		max-width: 62.4rem;
		font: normal 500 1.8rem / 1.333 $primary-font;
	}
}

h5 {
	max-width: 51.6rem;
	letter-spacing: .01em;
	font: 500 1.6rem / 1.25 $secondary-font;

	@include breakpoint(tablet) {
		max-width: 62.4rem;
		font: 500 1.8rem / 1.333 $secondary-font;
	}
}

h6 {
	max-width: 62.4rem;
	text-transform: uppercase;
	letter-spacing: .04em;
	font: normal 700 1.4rem / 1.42 $primary-font;
}

// Link
a {
	transition: color .1s $ease, border-color .1s $ease;
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

// Lists
ul,
ol,
li {
	max-width: none;
	text-align: left;
}

ul,
ol {
	&[centered] {
		margin-right: auto;
		margin-left: auto;
	}

	// Needed for ALL multicolumn UL's to get bullet points to display in the second column for webkit/blink browsers
	&[multicolumn] {
		column-gap: 32px;
	}

	&[multicolumn-2-small] {
		columns: 2 210px;
		max-width: 520px;
	}
}

// Some defaults
strong {
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
