/*	-------------------------------------
	:: Font Sizing
	---------------------------------- */

	// Strip Values
	@function strip-unit($num) {
		@return $num / ($num * 0 + 1);
	}

	// Create Header Baselines
	@mixin h1() {
		font: normal 500 3rem / 1.15 $heading-font;
		letter-spacing: 0.02em;
		color: $gray-dark;
		max-width: 84.2rem;
	}

	@mixin h2() {
		font: normal 400 2.25rem / 1.4 $heading-font;
		letter-spacing: 0.04em;
		margin: 0 0 0.8em 0;
		color: $gray-dark;
		max-width: 84.2rem;
	}

	@mixin h3() {
		font: italic 400 1.62rem / 1.4 $heading-font;
		margin: 0 0 0.8em 0;
		color: $gray;
		max-width: 84.2rem;
	}

	@mixin h4() {
		font: normal 400 1.215rem / 1.4 $heading-font;
		letter-spacing: 0.02em;
		margin: 0 0 10px 0;
		color: $gray-dark;
		max-width: 62.4rem;
	}

	@mixin h5() {
		font: italic 400 .91125rem / 1.4 $heading-font;
		letter-spacing: 0.04em;
		margin: 0 0 0.8em 0;
		color: $gray;
		max-width: 84.2rem;
	}

	@mixin h6() {
		font: normal 900 .6834375rem / 1 $heading-font;
		text-transform: uppercase;
		letter-spacing: 0.16em;
		margin: 0 0 0.8em 0;
		color: $gray-dark;
	}

/*	-------------------------------------
	:: Move away from using extend
	---------------------------------- */

	@mixin momentum_scrolling() {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	// Makes state selector
	// Outputs a partial attribute selector
	@mixin state($class, $parent: nil) {
		@if $parent != nil {
			#{$parent}[class*="--#{$class}"] & {
				@content;
			}
		} @else {
			&[class*='--#{$class}'] {
				@content;
			}
		}
	}


/*	-------------------------------------
	:: Firefox mixin
	---------------------------------- */
	@mixin firefox() {
		@-moz-document url-prefix() {
			@content;
		}
	}


/*	-------------------------------------
	:: Safari mixin
	---------------------------------- */
	@mixin safari() {
		@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
			@content;
		}
	}


/*	-------------------------------------
	:: Retina mixin
	---------------------------------- */
	@mixin retina() {
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			@content;
		}
	}

/*	-------------------------------------
	:: Stripes
	---------------------------------- */
@mixin stripes($color1: $white, $color2: $near-white) {
	background: repeating-linear-gradient(
		-75deg,
		$color1,
		$color1 1rem,
		$color2 1rem,
		$color2 2rem
	) !important;
}
