
// Converted Variables


// Custom Media Query Variables


/*

   OBJECT FITS
   Docs: http://tachyons.io/docs/elements/links/

*/

.fit-cover {
	object-fit: cover;
}

.fit-contain {
	object-fit: contain;
}

.fit-fill {
	object-fit: fill;
}
