// Converted Variables


// Custom Media Query Variables


/*
  STYLES
  Add custom styles here.
*/

hr {
	display: block;
	margin: 2.5rem 0;
	border: 0;
	background: $gray15;
	width: 100%;
	height: .1rem;
}
