/*  ==========================================================================
	Variables
============================================================================ */

/* Responsive tools
----------------------------------- */
$breakpoints: (
	small_phone: 320,
	medium_phone: 367,
	large_phone: 414,
	small_tablet: 568,
	medium_tablet: 675,
	tablet: 768,
	large_tablet: 896,
	desktop: 1024,
	large_desktop: 1200,
	max_width: 1340,
	fluid: (1340 * .825)
);

$ContentWidth: 768px;

/* Animation easing
----------------------------------- */
$ease: ease;
$ease-in: ease-in;


/* Fonts
----------------------------------- */
// Example:
// $custom-font: 'Custom Font Name', sans-serif;

$heading-font: var(--font-primary), "system";
$body-font: var(--font-secondary), "system";
$button-font: var(--font-tertiary), "system";
